body {
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    font-family: 'Comfortaa', cursive;
}

.side-nav {
    width: 20%;
    height: 745px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
}

.top-nav {
    background-color: white;
    width: 80%;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    right: 0;
}

.main-section {
    display: flex;

}


.card-div-top-section {
    
    background-color: white;
    width: 70%;
    margin-left: 25%;
    margin-top: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}


.card-div-top-section>h2{
    text-align: center;
    padding-top: 30px;
}




#site-logo {
    width: 80%;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 5px;
}




#logout-img {
    width: 18px;
    position: relative;
    top: 3px;

}


.btns {
    margin-top: 100px;

}

.btns>div:first-child>p {
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.66);

}

.btns>div:nth-child(2)>p {
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.66);

}

.btns>div:nth-child(3)>p {
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.66);

}

#product-div {
    border-bottom: 0;
    margin-top: 10px;
}



.btn-div {
    border: 1px solid rgba(255, 255, 255, 0.358);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    /* border-bottom: 1px; */
    cursor: pointer;
}

#dashboard-png {
    width: 30px;
    /* position: relative;
    top: 5px;
    right: 10px; */
}

#users-png {
    width: 40px;
    position: relative;
    top: 5px;

}


#logout {
    margin-top: -1px;
    /* padding: 1px;
    width: 50%;
    margin: auto;
    margin-top: 380px;
    background-color: white;
    border-radius: 10px;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    text-align: center; */
}




#search-box {
    margin-left: 381px;
    width: 200px;
    padding: 10px;
    border-radius: 30px 0px 0px 30px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.623);
}

.Db {
    display: inline;
    margin-left: 20px;
}

#search-btn {
    /* width: 200px; */
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.623);
    border-radius: 0px 30px 30px 0px;
    margin-top: 35px;
    color: rgba(255, 255, 255, 0.701);
    background-color: rgba(0, 0, 0, 0.881);
    margin-left: -6px;
    cursor: pointer;

}



#admin-info {
    width: 12%;
    display: flex;
    margin-left: 85%;
    margin-top: -45px;
    cursor: pointer;
    /* border: 2px solid rgba(0, 0, 0, 0.313); */

}

#admin-info:hover {}

.dropDown {

    display: none;
    position: absolute;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    width: 9.6%;
    margin-left: 68%;
    margin-top: 0px;
    cursor: pointer;
    height: 105px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.313);

}

.dropDown>p {
    padding-top: 2px;
}




#admin-info>img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    left: 5px;
}

#admin-info>p {
    margin-left: 10px;
}




#Outer-div {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#edit-form {
    /* display: none; */
    width: 30%;
    /* position: fixed; */
    height: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 45%;
    margin-top: 120px;
    z-index: 9999;
}

#edit-form>h2 {
    padding-top: 20px;
    text-align: center;
}

#input-fields {
    display: grid;
    margin: auto;
    padding: 50px;
}

#input-fields>button {
    margin: auto;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.868);
    color: rgba(255, 255, 255, 0.737);
    border: 0;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

#input-fields>input {
    font-size: 20px;
    padding: 10px;
}