.main-container {
  width: 95%;
  margin: auto;
  display: flex;
}
.sidebar-filter {
  width: 25%;
  /* margin: auto; */
  /* border: 1px solid red; */
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* height: 500px; */
}

.product-car-container {
  width: 70%;
  /* margin: auto; */
  /* border: 1px solid blue; */
 display: grid;
 grid-template-columns: repeat(3,1fr);
 row-gap: 30px;
 height: fit-content;
 margin-left: 15px;
}
.product-car-container > div {
    width: 95%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}
.product-car-container > div > div:nth-child(1) {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}
.product-car-container > div > div:nth-child(2) {
    padding-left: 25px;
}
.product-car-container > div > div > img {
    width: 90%;
    max-height: 190px;
}
.filter-brand {
  width: 90%;
  margin: auto;
}
.filter-brand > input {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(103, 103, 103);
  padding: 0 0 0 5px;
}
.filter-brand > p:nth-child(1) {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #002f34;;
}
.filter-brand > p:nth-child(3) {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #002f34;
  }
  .brand-search-btn {
    margin-top: 10px;
    border: none;
    width: 40%;
    height: 25px;
    cursor: pointer;
    background-color: #002f34;
    color: white;
  }
  .brand-search-btn:hover {
    background-color: #3a77ff;
  }
  

.brand-img {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.brand-img > img {
  width: 100%;
  max-height: 200px;
}
.style-p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #002f34A3;
}
.style-p-small {
    
    font-size: 16px;
    line-height: 24px;
    color: #002f34A3;
}
.style-hr {
    width: 90%;
    color: #002f34A3;
    margin: auto;
}
.filter-budget > div{
    width: 95%;
    height: 30px;
    border: 1px solid #002f34A3;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 10px;
    color: #406367;
    
}
.filter-budget > div:hover {
    background-color: #3a77ff;
    color: white;
    cursor: pointer;
}

