body{
    margin: auto;
    align-items: center;
    border: 1px solid black;
    
}
#main{
    width: 600px;
    height: 800px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 400px;
    line-height: 40px;

}
#main img{
    width: 35%;
    /* border: 1px solid black; */

}
#logo{
    /* border: 1px solid black; */
    /* height: 100px; */
}
#main>h3{
    font-size: 25px;
   margin-top: 1px;
}
input{
    width: 400px;
    height: 35px;
    border-radius: 3px;
}
input:hover{
    border: 4px solid rgb(4, 134, 134);
    
}
#p1{
  /* border: 1px solid black;   */
  width: 380px;
  font-size: 18px;
  line-height: 20px;
}
#main button{
    width: 410px;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;  
}
#p2{
    /* border: 1px solid black;   */
    width: 380px;
    font-size: 13px;
    color: silver;
  } 
}
